@{
    ViewData["Title"] = "Home Page";
}


<div class="row row-cols-1 row-cols-md-3 g-4">
    @{
        for (int i = 97; i <= 106; i++)
        {
            string imgPath = $"img/{(char)i}.jpg";
            <div class="col">
                <div class="card rounded-3">
                    <img src="@imgPath" alt="..." class="rounded-top">
                </div>
            </div>
        }
    }
</div>


<!--  Row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body position-relative pb-1">
                <div class="row justify-content-between">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div>
                            <h4 class="card-title mb-1">
                                Congratulations Jonathan
                            </h4>
                            <p class="mb-0 card-subtitle">
                                You have done 38% more sales
                            </p>
                        </div>
                        <div class="mt-6">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <ul class="list-unstyled mb-4 mb-md-0">
                                        <li class="d-flex align-items-center mb-9">
                                            <div
                                                class="bg-primary-subtle rounded-circle-shape px-3 py-2 me-3 rounded-5 d-flex align-items-center justify-content-center">
                                                <iconify-icon icon="solar:cart-4-line-duotone"
                                                    class="fs-7 text-primary"></iconify-icon>
                                            </div>
                                            <div>
                                                <h6 class="mb-1 fs-4">64 new orders</h6>
                                                <p class="mb-0 lh-1">Processing</p>
                                            </div>
                                        </li>
                                        <li class="d-flex align-items-center mb-9">
                                            <div
                                                class="bg-danger-subtle rounded-circle-shape px-3 py-2 me-3 rounded-5 d-flex align-items-center justify-content-center">
                                                <iconify-icon icon="solar:checklist-minimalistic-line-duotone"
                                                    class="fs-7 text-danger"></iconify-icon>
                                            </div>
                                            <div>
                                                <h6 class="mb-1 fs-4">4 orders</h6>
                                                <p class="mb-0 lh-1">On hold</p>
                                            </div>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <div
                                                class="bg-success-subtle rounded-circle-shape px-3 py-2 me-3 rounded-5 d-flex align-items-center justify-content-center">
                                                <iconify-icon icon="solar:banknote-line-duotone"
                                                    class="fs-7 text-success"></iconify-icon>
                                            </div>
                                            <div>
                                                <h6 class="mb-1 fs-4">12 orders</h6>
                                                <p class="mb-0 lh-1">Delivered</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-7">
                                    <div class="text-end">
                                        <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/backgrounds/teamwork.png"
                                            alt="" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-baseline justify-content-between mb-2">
                            <div>
                                <h5 class="mb-1 card-title">Total Orders</h5>
                                <p class="mb-0 card-subtitle">Weekly order updates</p>
                            </div>
                            <select class="form-select w-auto bg-light border-0 rounded-pill">
                                <option value="1">This Week</option>
                                <option value="2">April 2023</option>
                                <option value="3">May 2023</option>
                                <option value="4">June 2023</option>
                            </select>
                        </div>
                        <div class="me-n3">
                            <div id="netsells"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="fs-4 mb-1 card-title">Latest Deal</h4>
                        <p class="mb-0 card-subtitle">Last 7 days</p>
                    </div>
                    <div>
                        <span
                            class="badge rounded-pill fs-2 fw-medium bg-primary-subtle fs-2 fw-medium text-primary">86.5%</span>
                    </div>
                </div>
                <div class="my-5">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0 fs-4">$98,500</h5>
                        <h6 class="mb-0 fs-4">$1,22,900</h6>
                    </div>
                    <div class="progress bg-light w-100 my-2" style="height: 4px">
                        <div class="progress-bar bg-success" role="progressbar" aria-label="Example 8px high"
                            style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="mb-0">Coupons used: 18/22</p>
                </div>
                <h6 class="mb-3 pt-2">Recent Purchasers</h6>
                <ul class="hstack mb-0">
                    <li class="ms-n2">
                        <a href="javascript:void(0)" class="">
                            <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-5.jpg"
                                class="rounded-circle border border-2 border-transparent" width="40" height="40"
                                alt="" />
                        </a>
                    </li>
                    <li class="ms-n2">
                        <a href="javascript:void(0)" class="">
                            <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-2.jpg"
                                class="rounded-circle border border-2 border-transparent" width="40" height="40"
                                alt="" />
                        </a>
                    </li>
                    <li class="ms-n2">
                        <a href="javascript:void(0)" class="">
                            <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-3.jpg"
                                class="rounded-circle border border-2 border-transparent" width="40" height="40"
                                alt="" />
                        </a>
                    </li>
                    <li class="ms-n2">
                        <a href="javascript:void(0)">
                            <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-4.jpg"
                                class="rounded-circle border border-2 border-transparent" width="40" height="40"
                                alt="" />
                        </a>
                    </li>
                    <li class="ms-n2">
                        <a href="javascript:void(0)"
                            class="bg-secondary-subtle text-secondary rounded-circle border border-2 border-transparent d-flex align-items-center justify-content-center round-40">
                            +8
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="fs-4 mb-1 card-title">Customers</h4>
                        <p class="mb-0 card-subtitle">Last 7 days</p>
                    </div>
                    <div>
                        <h5 class="fs-4 mb-1 text-end">6,380</h5>
                        <span
                            class="badge rounded-pill fs-2 fw-medium bg-success-subtle text-success fs-2 fw-medium">+26.5%</span>
                    </div>
                </div>
                <div id="customers" class="my-4 py-3"></div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center">
                        <span class="circle-shape bg-primary rounded-pill me-2"></span>
                        <p class="mb-0">Apr 07 - Apr 14</p>
                    </div>
                    <p class="mb-0">6,380</p>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="circle-shape bg-light rounded-pill me-2"></span>
                        <p class="mb-0">Last Week</p>
                    </div>
                    <p class="mb-0">4,298</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between pb-1">
                    <div>
                        <h4 class="mb-1 card-title fs-4">Payments</h4>
                        <p class="mb-0 card-subtitle">Last 7 days</p>
                    </div>
                    <div class="text-end">
                        <h5 class="mb-1 fs-4 text-end fw-bold">12,389</h5>
                        <span
                            class="badge rounded-pill fs-2 fw-medium bg-danger-subtle fs-2 fw-medium text-danger">-3.8%</span>
                    </div>
                </div>
                <div class="me-n4 mb-6">
                    <div id="total-orders" class="rounded-bars "></div>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center">
                        <span class="circle-shape bg-primary rounded-pill me-2"></span>
                        <p class="mb-0">Paypal</p>
                    </div>
                    <p class="mb-0">52%</p>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="circle-shape bg-light rounded-pill me-2"></span>
                        <p class="mb-0">Credit Card</p>
                    </div>
                    <p class="mb-0">48%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="mb-1 fs-4 card-title">Products</h4>
                        <p class="mb-0 card-subtitle">Last 7 days</p>
                    </div>
                    <div>
                        <h5 class="mb-1 fs-4 text-end fw-bold">432</h5>
                        <span
                            class="badge rounded-pill fs-2 fw-medium bg-success-subtle fs-2 fw-medium text-success text-end">+26.5%</span>
                    </div>
                </div>
                <div class="my-7">
                    <div id="products" class="my-8"></div>
                </div>
                <p class="mb-0 text-center fs-2">
                    Profit more than last month
                </p>
            </div>
        </div>
    </div>
</div>
<!-- end row -->