@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "/Views/Shared/_LayoutEmpty.cshtml";
}
<hr>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="mb-3">
        <label class="form-label" asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary w-100 py-8 mb-4 rounded-2">Reset Password</button>
    <div class="d-flex align-items-center">
        <a class="text-primary fw-medium ms-2 mb-2" id="forgot-password" asp-page="./Login">Back to Login</a>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
