.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 35px;
  height: 35px;
  background: linear-gradient(135deg, #5de0e6, #004aad);
  color: white;
}

.avatar-sm {
  width: 35px;
  height: 35px;
  font-size: 20px;
  font-weight: 500;
}

.avatar-xl {
  width: 80px;
  height: 80px;
  font-size: 50px;
  font-weight: 600;
}

.gradient-avatar {
  background: linear-gradient(135deg, #5de0e6, #004aad);
  color: white;
  /* Để văn bản có màu trắng nếu cần */
}