.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 32px;
  height: 32px;
  background: linear-gradient(135deg, #5de0e6, #004aad);
  color: white;
}

.avatar-lg {
  width: 40px;
  height: 40px;
}

.avatar-xl {
  width: 96px;
  height: 96px;
  font-size: 64px;
  font-weight: 600;
}

.gradient-avatar {
  background: linear-gradient(135deg, #5de0e6, #004aad);
  color: white;
  /* Để văn bản có màu trắng nếu cần */
}